<!DOCTYPE html>
<html ng-app="currencyApp">


<head>
    <title>Currency Converter</title>

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" sizes="64x64" href="pound-64x.png">

</head>

<body>

    <h1 class="header">₡urr€ncy ₡onv€rter</h1>



    <div ng-controller="conversion" class="converter">

        <h1 ng-cloak class="error" ng-if="apiError">Api call error. Check Console for more details.</h1>

        <div class="converter__from-to ">


            <input type="number" ng-model="fromBox" class="search-box yellow" ng-change="convertFrom(fromBox)"
                placeholder="Amount" />

            <div class="styled-select yellow rounded">

                <select ng-model="fromSelected" ng-change="fromSelectionchange(fromBox)" class=" margin-bottom-10px">
                    <option selected="true" ng-selected="true">GBP</option>
                    <option ng-clock ng-repeat="(currency,rate) in currencies">
                        {{currency}}
                    </option>

                </select>

            </div>



        </div>

        <div class="converter__from-to">


            <input type="number" ng-model="toBox" class="search-box green white-text" ng-change="convertTo(toBox)"
                placeholder="Amount" />

            <div class="styled-select green rounded">

                <select ng-model="toSelected" class=" margin-bottom-10px" ng-change="toSelectionchange(toBox)">
                    <option selected="true" ng-selected="true">GBP</option>
                    <option ng-repeat="(currency,rate) in currencies">{{currency}}
                    </option>

                </select>

            </div>



        </div>

        <h3 ng-cloak class="margin-bottom-10px">
            Today's exchange rate for 1 {{fromSelected}} to {{toSelected}} is {{exchangeRate}}
        </h3>

        <h2 ng-hide="isGraph"> Select a currency to show the graph</h2>

        <h3 ng-cloak ng-if="isGraph && !apiError">
            Here is a graph that shows the exchange rate of 1 {{fromSelected}} to {{toSelected}} from {{startDate}} to
            {{endDate}}
        </h3>



    </div>

    <h2 class=no-cy> Please use a larger screen to view the graph </h2>
    <div id="cy"></div>




    <script src="angular.min.js"></script>
    <script src="cytoscape.js"></script>
    <script src="app.js"></script>

</body>

</html>